[submodule "lib/libiot"]
	path = lib/libiot
	url = git@github.com:khoek/libiot.git
[submodule "lib/libesp"]
	path = lib/libesp
	url = git@github.com:khoek/libesp.git
[submodule "lib/esp-rfm69hcw"]
	path = lib/esp-rfm69hcw
	url = git@github.com:khoek/esp-rfm69hcw.git
[submodule "lib/esp-tmp117"]
	path = lib/esp-tmp117
	url = git@github.com:khoek/esp-tmp117.git
[submodule "lib/libi2c"]
	path = lib/libi2c
	url = git@github.com:khoek/libi2c.git
[submodule "lib/libsensor"]
	path = lib/libsensor
	url = git@github.com:khoek/libsensor.git
[submodule "lib/libirq"]
	path = lib/libirq
	url = git@github.com:khoek/libirq.git
[submodule "lib/libcrc"]
	path = lib/libcrc
	url = git@github.com:khoek/libcrc.git
[submodule "lib/esp-ccs811"]
	path = lib/esp-ccs811
	url = git@github.com:khoek/esp-ccs811.git
[submodule "lib/esp-dps368"]
	path = lib/esp-dps368
	url = git@github.com:khoek/esp-dps368.git
